/* custom-styles.css */

.section {
    padding: 50px 100px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    color: #fff;
    padding: 1px;
    text-align: center;
    margin-bottom: 2px;
    width: 100%;
    height: 25vh;
}

#logo {
    max-width: 145px;
    max-height: 145px;

}


nav {
    display: flex;
    justify-content: center;
    background-color: rgb(68, 3, 3);
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: 700;
}

nav a:hover {
    background-color: black;
    border-radius: 15px;
}

#search-bar {
    text-align: center;
    margin: 5px 0;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    background: black;
    color: #fff;
    border-radius: 15px;
}

#search-button {
    padding: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

#search-button:hover {
    background-color: #666;
}

.home {
    width: 100%;
    min-height: 80vh;
    background: url(https://png.pngtree.com/background/20230412/original/pngtree-coffee-beans-desktop-coffee-mug-picture-image_2393774.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.home-text h1 {
    padding-top: 1px;
    font-size: 3.4rem;
    color: sandybrown;
    letter-spacing: 1px;

}

.home-text p {
    font-size: 1.5rem;
    color: wheat;
    margin: 0.5rem 0 1.4rem;
}

.btn {
    padding: 10px 40px;
    border-radius: 15px;
    background-position: white;
    color: wheat;
    font-weight: 900;
}

.btn:hover {
    background: sandybrown;
}

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    padding-top: 6px;
    border-radius: 6rem;
}

.about-text h2 {
    font-size: 1.8rem;
}

.heading {
    text-align: center;
}

.heading h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.products-container {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.products-container .box {

    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5rem;
    box-shadow: black;
}

.products-container img {
    width: 90%;
    height: 150px;
    object-fit: contain;
    object-position: center;
    padding: 15px;
    background: sandybrown;
    border-radius: 1rem;
}

.products-container .box h3 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem 0 0.5rem;
}

.products-container .box .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.products-container .box .content span {
    width: 12%;
    padding: 0 5px;
    color: #fff;
    background: rgb(182, 108, 44);
    border: 10px;
    border-radius: 4px;
    font-weight: 800;
}

.products-container .box .content a {
    width: 38%;
    padding: 5px 5px;
    color: #fff;
    background: rgb(182, 108, 44);
    border: 20px;
    border-radius: 4px;
    font-weight: 800;
}

.products-container .box .content a:hover {
    background: sandybrown;
    color: white;
    transition: 0.2s all linear;
}

.customers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.customers-container .box {
    padding: 20px;
    box-shadow: gray;
    border-radius: 1rem;
    text-align: center;
    background: sandybrown;
}

.stars .ri {
    color: rgb(215, 194, 76);
}

.customers-container .box p {
    font-size: 1rem;
}

.customers-container .box h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5em 0 0.5em;
}

.customers-container .box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.customers-container .box:hover {
    background: rgb(240, 145, 62);
    transition: 0.2s all linear;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
}

.footer-box h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social a .ri {
    font-size: 24px;
    color: blueviolet;
    padding: 10px;
    background: wheat;
    border-radius: 0.2rem;
}

.social a .ri:hover {
    background: gray;
    color: black;
}

.footer-box li a {
    color: black;
    font-weight: 300;
}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
}

.copyright {
    padding: 10px;
    text-align: center;
    background: gainsboro;
}